.titleBox {
    text-align: center;
    width: 100%;
    color: #FFDE00;
    text-shadow: 
        -3px -3px 0 #3B4CCA,
        3px -3px 0 #3B4CCA,
        -3px 3px 0 #3B4CCA,
        3px 3px 0 #3B4CCA;
    font-family: Pokemon Solid;
    /* 
    Font from: 
    https://fontmeme.com/pokemon-font/ 
    */
}

.titleBox h1 {
    margin-top: 90px;
    font-size: 3.5em;
}